@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>WELCOME TO LYUBO'S BOOK LIBRARY</h2>
    <p class="lead">Create an acount and explore the world of books!</p>
    <p><a href="Account/Register" class="btn btn-primary btn-lg">Register &raquo;</a></p>
</div>